html, body{
    background-color: black;
    margin: 0px;
    height: 100%;
}


#page-wrapper{
    display: flex;
    flex-flow: row;
    height: 100%;
}

#channelSelector {
    position: absolute;
    right: 0;
    display: inline-block;
    border: none;
    color: white;
    padding: 19px 100px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #0e0e10;
    border-bottom: 1px solid #18181b;
    cursor: pointer;
}

#channelSelector:hover {
    background-color: #18181b;
}

#channelSelector:active {
    background-color: #242429;
    border-bottom: 1px solid #242429;
}

@media only screen and (max-aspect-ratio: 1/1){
    .player{
        flex: 1 1 auto;
    }

    .chat{
        flex: 6 1 auto;
    }
    #page-wrapper {
        flex-flow: column;
    }
    #channelSelector{
        left: 0%;
    }
}
@media only screen and (min-aspect-ratio: 1/1){
    .player{
        flex: 50 1 auto;
    }

    .chat{
        flex: 1 1 auto;
    }
}